<md-dialog id="Dialog_ViewApiSchema"
  aria-label="Create Operation Form">
  <form name="createOperationForm" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>View API Schema</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="material-icons" aria-label="Close dialog">
            close
          </md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="schema-source">
        <pre ng-bind="schema"></pre>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-primary" ng-click="cancel()">
        Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
