<md-dialog id="Dialog_ViewApiSchema"
  aria-label="Create Operation Form">
  <form name="createOperationForm" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>View API Schema</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="material-icons" aria-label="Close dialog">
            close
          </md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content style="max-width:800px;max-height:810px; ">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="JSON">
          <md-content class="md-padding">
            <div class="schema-source">
              <pre ng-bind="schema"></pre>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="YAML">
          <md-content class="md-padding">
            MEow
        </md-content>
      </md-tab>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="" ng-click="selectAll()">
        Select All
      </md-button>
      <span flex></span>
      <md-button class="md-primary" ng-click="cancel()">
        Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
