#appEditor {

  header {
    padding: 24px 24px 8px;
    background-color: #fff;
  }
  header .md-subhead {
    color: rgba(0,0,0,0.38);
  }
  md-nav-bar {
    background-color: #fff;
  }
  md-card.app-title-card {
    margin: 16px;
  }
  .app-dashboard-cards {
    padding: 8px;
  }
  .app-dashboard-cards md-card {
    margin: 8px 8px 16px;
  }
  .app-schemas {
    padding: 8px;
    .schema-side {

    }
  }

  .app-apis {
    padding: 8px;
    .api-side {

    }
  }

  .app-clients {
    padding: 8px;
    .client-side {

    }
  }

  .api-route-list {

    background-color: #fff;

    .api-route {
      border-bottom: 1px solid rgba(0,0,0,0.12);
      padding: 16px;
      line-height: 1;
      .http-method {
        line-height: 16px;
        padding: 8px;
        color: rgba(255,255,255,1);
        margin: 0 4px;
      }
      .http-post {
        background-color: #558B2F;
      }
      .http-get {
        background-color: #0277BD;
      }
      .http-delete {
        background-color: #E64A19;
      }
      .http-put {
        background-color: #EF6C00;
      }
    }

  }

}
