<md-sidenav class="md-sidenav-left md-whiteframe-z2"
  layout="column"
  md-component-id="left"
  md-is-locked-open="$mdMedia('gt-md')">

  <div ng-controller="SidenavController as $sidenav"
    ng-cloak>

    <header layout="row" layout-align="start center">

      <img src="https://s3-ap-southeast-2.amazonaws.com/data-studio/pub/assets/data-studio.png" class="app-logo" />

      <div flex layout="column">
        <span class="md-headline">DataStudio</span>
        <span class="md-caption">eviratec.software</span>
      </div>

    </header>

    <md-list>
      <md-list-item ui-sref="app.user.dashboard">
        <md-icon class="material-icons">
          apps
        </md-icon>
        <p>Dashboard</p>
      </md-list-item>

      <md-divider></md-divider>

      <md-subheader ng-click="showSidenavApps=!showSidenavApps">
        My Apps
      </md-subheader>

      <md-list-item ui-sref-active="active"
        ui-sref="app.user.app.dashboard({ appId: app.Id })"
        ng-repeat="app in apps"
        ng-if="showSidenavApps">
        <md-icon class="material-icons">
          folder
        </md-icon>
        <p>{{ app.Name }}</p>
      </md-list-item>

      <md-list-item
        ng-click="createApp()"
        ng-if="showSidenavApps">
        <md-icon class="material-icons">
          create
        </md-icon>
        <p>Create an App</p>
      </md-list-item>

    </md-list>
  </div>
</md-sidenav>

<div class="relative"
  layout="column"
  role="main"
  ng-controller="LayoutController"
  layout-fill
  ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">

      <md-button class="md-icon-button"
        aria-label="Menu"
        ng-click="toggleSidenav('left')"
        hide-gt-md>
        <md-icon class="material-icons">
          menu
        </md-icon>
      </md-button>

      <h3 hide-gt-md>DataStudio</h3>

      <span flex></span>

      <md-menu>

        <md-button
          aria-label="Open Settings"
          ng-click="openMenu($mdOpenMenu, $event)">
          <md-icon class="material-icons">
            person
          </md-icon>
          <span class="md-caption">
            {{ login }}
          </span>
          <md-icon class="material-icons">
            arrow_drop_down
          </md-icon>
        </md-button>

        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="changeProfile($event)">
              <md-icon>face</md-icon>
              Profile
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="changePassword()">
              <md-icon>lock</md-icon>
              Password
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>
            <md-button ng-click="logout()">
              <md-icon>power_settings_new</md-icon>
              Logout
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>

  <md-content class=""
    layout="column"
    md-scroll-y
    flex>
    <div layout="column"
      ui-view>
    </div>
  </md-content>

</div>
