<div class="app-apis"
  layout="row"
  layout-xs="column">

  <div class="app-api-cards"
    flex>

    <div style="border-bottom: 1px solid rgba(0,0,0,0.12);margin:24px 8px 8px;padding:0 8px;height:49px;"
      layout="row"
      layout-align="start center">
      <md-card-header-text>
        <span class="md-headline">
          <span style="font-weight:300;color:rgba(0,0,0,0.5);">API /</span>
          {{ $apiCtrl.api.Name }}
        </span>
      </md-card-header-text>
    </div>

    <div ng-if="0 === $apiCtrl.routes.length"
      layout="row"
      layout-align="start start"
      layout-wrap>

      <md-card flex>
        <md-card-content style="padding:0;" layout-align="center center">
          <div style="padding: 40px 16px;text-align: center;">
            Add an API Route to make a start
            <md-button class="md-primary"
              ng-click="$apiCtrl.createRoute($event)">
              <md-icon class="material-icons">
                edit
              </md-icon>
              Create Route
            </md-button>
          </div>
        </md-card-content>
      </md-card>

    </div>

    <div ng-if="$apiCtrl.routes.length > 0"
      flex>
      <div layout="column">
        <div class="api-route-list">
          <md-card ng-repeat="route in $apiCtrl.routes">
            <md-card-content style="padding:0;">
              <div class="api-route">

                <div class="api-route-header"
                  layout="row"
                  layout-align="start center">
                  <span class="md-body-1">{{ route.Path }}</span>
                </div>

                <md-divider></md-divider>

                <div class="api-route-wrapper"
                  layout="row"
                  layout-wrap="true"
                  layout-xs="column"
                  layout-align="start center"
                  layout-align-xs="start stretch">

                  <div class="api-operation"
                    ng-repeat="operation in $apiCtrl.operations.byRouteId[route.Id]"
                    md-whiteframe="1dp"
                    layout="row"
                    layout-align="start center"
                    flex-xs
                    flex-gt-xs="30">
                    <span class="md-caption http-method http-{{ operation.Method.toLowerCase() }}">
                      {{ operation.Method.substr(0,3) }}
                    </span>
                    <span class="md-body-1">{{ operation.Name }}</span>
                    <span flex></span>
                    <div>
                      <md-menu class="md-secondary">
                        <md-button class="md-icon-button" ng-click="$apiCtrl.openMenu($mdMenu, $event)">
                          <md-icon md-menu-origin class="material-icons">
                            chevron_right
                          </md-icon>
                        </md-button>
                        <md-menu-content width="4">
                          <md-menu-item>
                            <md-button>
                              Re-name
                            </md-button>
                          </md-menu-item>
                          <md-menu-divider></md-menu-divider>
                          <md-menu-item>
                            <md-button ng-click="$apiCtrl.deleteOperation(operation)">
                              Delete operation
                            </md-button>
                          </md-menu-item>
                        </md-menu-content>
                      </md-menu>
                    </div>
                  </div>

                  <div class="inline-create-btn-wrapper"
                    layout="row"
                    layout-align="start center"
                    flex-xs
                    flex-gt-xs="30">
                    <md-button ng-click="$apiCtrl.createOperation($event, route)"
                      class="md-no-style"
                      style="margin-top:0;margin-bottom:0;"
                      layout="row"
                      flex>
                      <span flex></span>
                      <md-icon class="material-icons">add</md-icon>
                      <span>API operation</span>
                      <span flex></span>
                    </md-button>
                  </div>

                </div>

              </div>

            </md-card-content>
          </md-card>
        </div>
      </div>
    </div>

  </div>

  <div class="api-side" flex-gt-xs="30" flex-xs>
    <md-list>
      <md-list-item ng-click="$apiCtrl.createRoute($event)">
          <md-icon class="material-icons">add</md-icon>
          <p>Add Route</p>
      </md-list-item>
      <md-list-item ng-click="null">
          <md-icon class="material-icons">content_copy</md-icon>
          <p>Clone / copy</p>
      </md-list-item>
      <md-list-item ng-click="null">
          <md-icon class="material-icons">delete</md-icon>
          <p>Delete API</p>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item ng-click="$apiCtrl.showSchemaView($event)">
          <md-icon class="material-icons">code</md-icon>
          <p>View JSON/YAML</p>
      </md-list-item>
      <md-subheader>App APIs</md-subheader>
      <md-list-item ng-repeat="api in apis" ui-sref="app.user.app.api({ appId: model.Id, apiId: api.Id})">
          <md-icon class="material-icons">chevron_right</md-icon>
          <p>{{ api.Name }}</p>
      </md-list-item>
    </md-list>
  </div>

</div>
