<div class="app-apis" layout="row">

  <div flex>

    <div style="border-bottom: 1px solid rgba(0,0,0,0.12);margin:24px 8px 8px;padding:0 8px;"
      layout="row"
      layout-align="start center">
      <md-card-header-text>
        <span class="md-headline">
          <strong>API /</strong>
          {{ $apiCtrl.api.Name }}
        </span>
      </md-card-header-text>
      <span flex></span>
      <md-button ng-click="$apiCtrl.createRoute($event)">
        <md-icon class="material-icons">add</md-icon>
        Route
      </md-button>
    </div>

    <div layout="row"
      layout-wrap>
      <div flex="50"
        ng-repeat="route in $apiCtrl.routes">
        <md-card>
          <md-card-header layout-align="center center"
            style="background-color: #eee;">
            <md-card-header-text>
              <span class="md-body-2">
                {{ route.Path }}
              </span>
            </md-card-header-text>
            <span flex></span>
            <md-button ng-click="$apiCtrl.createOperation($event, route)"
              class="md-mini"
              style="margin-top:0;margin-bottom:0;">
              <md-icon class="material-icons">add</md-icon>
              Op
            </md-button>
          </md-card-header>
          <md-divider></md-divider>
          <md-card-content style="padding:0;">
            <div layout="column">
              <div class="api-route-list">
                <md-list>
                  <md-list-item class="api-route"
                    ng-repeat="operation in $apiCtrl.operations.byRouteId[route.Id]"
                    layout="row"
                    layout-align="start center">
                    <span class="http-method http-{{ operation.Method.toLowerCase() }}">
                      {{ operation.Method }}
                    </span>
                    <md-icon class="material-icons">
                      chevron_right
                    </md-icon>
                    <span class="md-body-1">{{ operation.Name }}</span>
                    <span flex></span>
                    <md-menu class="md-secondary">
                      <md-button class="md-icon-button">
                        <md-icon class="material-icons">
                          more_vert
                        </md-icon>
                      </md-button>
                      <md-menu-content width="4">
                        <md-menu-item>
                          <md-button>
                            Re-name
                          </md-button>
                        </md-menu-item>
                        <md-menu-item>
                          <md-button>
                            View details
                          </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                          <md-button>
                            Delete operation
                          </md-button>
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>
                  </md-list-item>
                </md-list>
              </div>
            </div>
          </md-card-content>
        </md-card>
      </div>
    </div>

  </div>

  <div class="api-side" flex="30">
    <md-list>
      <md-subheader>API Menu</md-subheader>
      <md-list-item ng-click="null">
          <md-icon class="material-icons">chevron_right</md-icon>
          <p>Export spec ...</p>
      </md-list-item>
      <md-list-item ng-click="null">
          <md-icon class="material-icons">chevron_right</md-icon>
          <p>Import spec ...</p>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item ng-click="null">
          <md-icon class="material-icons">chevron_right</md-icon>
          <p>Generate tests</p>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item ng-click="null">
          <md-icon class="material-icons">chevron_right</md-icon>
          <p>Clone / copy</p>
      </md-list-item>
      <md-list-item ng-click="null">
          <md-icon class="material-icons">chevron_right</md-icon>
          <p>Delete API</p>
      </md-list-item>
      <md-subheader>App APIs</md-subheader>
      <md-list-item ng-repeat="api in apis" ui-sref="app.user.app.api({ appId: model.Id, apiId: api.Id})">
          <md-icon class="material-icons">chevron_right</md-icon>
          <p>{{ api.Name }}</p>
      </md-list-item>
    </md-list>
  </div>

</div>
