<div class="app-apis" layout="row">

  <div class="api-side" flex="30">
    <md-list>
      <md-subheader>App APIs</md-subheader>
      <md-list-item ng-repeat="api in apis" ui-sref="app.user.app.api({ appId: model.Id, apiId: api.Id})">
          <md-icon class="material-icons">chevron_right</md-icon>
          <p>{{ api.Name }}</p>
      </md-list-item>
    </md-list>
  </div>

  <div flex>
    <md-card>
      <md-card-header>
        <md-card-header-text>
          <span class="md-headline">
            <em><strong>
              {{ $apiCtrl.api.Name }}
            </strong></em>
            API Routes
          </span>
        </md-card-header-text>
      </md-card-header>
      <md-divider></md-divider>
      <md-card-content style="padding:0;">
        <div layout="column">
          <div class="api-route-list">
            <div class="api-route"
              ng-repeat="path in $apiCtrl.paths"
              layout="row"
              layout-align="start center">
              <span class="md-title">{{ path.Path }}</span>
              <span flex></span>
              <span class="http-method http-{{ method.toLowerCase() }}"
                ng-repeat="method in path.Methods">
                {{ method }}
              </span>
            </div>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </div>

</div>
