@import "../../../../node_modules/angular-material/angular-material.scss";

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body, html {
  font-size: 14.4px;
  font-family: "Roboto", sans-serif;
  background-color: #37474F; }


body, md-content.md-blue-grey-theme {
  background-color: #eee; }

md-toolbar:not(.md-hue-1),
.md-fab {
    fill: #fff; }

md-sidenav.md-sidenav-left.md-sidenavTheme-theme {

  color: rgba(255,255,255,1);
  background-color: #424242;

  header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    background-color: #303030;
    img.app-logo {
      height: 48px;
      width: 48px;
      margin: 16px;
    }
    .md-caption {
      color: rgba(255,255,255,0.5);
    }
  }

  .md-subheader.md-sidenavTheme-theme {
    background-color: transparent;
  }

}

.user-avatar {
  border-radius: 99%; }

md-toolbar.md-tall {
  height: 64px;
  max-height: 64px;
  min-height: 64px; }

code {
  color: #4285f4;
  -webkit-font-smoothing: auto;
  font-weight: 300;
  background-color: #F2F2F2;
  padding: 10px; }

ul {
  list-style: none }

.folder-grid md-list-item a {
  background-color: #fff; }
.folder-grid md-list-item md-icon.material-icons {
  height: 48px;
  width: 48px;
  font-size: 48px;
}

md-toolbar#userToolbar.md-default-theme:not(.md-menu-toolbar),
md-toolbar#userToolbar:not(.md-menu-toolbar) {
  background-color: #212121;
  border-bottom: 1px solid rgba(44,44,44,1);
}
md-toolbar#userToolbar img.logo {
  height: 24px;
  width: 24px;
  margin: 0 8px;
}
md-toolbar#userToolbar h3 {
  color: rgba(255,255,255,0.5);
}
md-content.ds-main-content {
  background-color: #eee;
  .md-subheader.md-default-theme,
  .md-subheader {
    background-color: transparent;
  }
}

.user-dashboard {
  md-card {
    cursor: pointer;
  }

  header {
    padding: 24px;
    background-color: #212121;
    color: rgba(255,255,255,1);
  }
  header .md-subhead {
    color: rgba(0,0,0,0.38);
  }
}
.user-dashboard .create-app-card {
  height: 125px;
  margin: 8px;
  border: 2px dashed;
  border-radius: 3px;
  border-color: rgba(0,0,0,0.12);
}
